<section class="gallery-area section-padding" id="gallery">
    <div class="container wow fadeIn">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <div class="area-title text-center">
            <h2>Galeria</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <div class="instagram-feed-content text-center">
            <div class="instagram" id="instagram"></div>
          </div>
        </div>
      </div>
    </div>
  </section>