<div class="footer-area" id="contact">
    <div class="footer-area-bg" data-stellar-background-ratio="0.6"></div>
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="footer-top section-padding text-center">
                    <div class="footer-logo">
                        <a href="#"><img src="./assets/img/logo.png" alt=""></a>
                    </div>
                    <div class="footer-address">
                        <p>Avenida das Lagoas, S/n, Gardenia Azul - Rj <br>Entre a Igreja Catolica e agencia do Bradesco</p>
                        <p><a href="mailto:contato@tropicalizerestaurante.com.br"><span>contato@tropicalizerestaurante.com.br</span></a>
                        </p>
                        <p>
                            <a href="callto:+552121986437604">
                                <i class="fa fa-whatsapp"></i> (21) 98643-7604</a>
                        </p>
                    </div>
                    <div class="footer-social-bookmark">
                        <ul>
                            <li><a href="https://www.facebook.com/tropicalizerestaurante/" target="__blank"><i
                                        class="fa fa-facebook"></i></a></li>
                            <!--<li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="footer-menu">
                    <ul>
                        <li><a href="#">Política de Privacidade</a></li>
                        <li><a href="#">Mapa do Site</a></li>
                        <li><a href="#">Contato</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="footer-copyright">
                    <p>&copy; 2020 All Right Reserved. Developed by <a href="https://firecodesystems.com" target="__blank">Firecode Systems</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>